.drop-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 220px;
    margin: 0 40px;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin: 0 100px;
    align-self: flex-end;
}

.dropdown-content {
    margin: 0 auto;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.category-link {
    display: block;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: bold;
    color: teal;
    transition: all 0.6s ease-in-out;
    text-transform: capitalize;
}

.dropdown-content .category-link:hover {
    background-color: rgba(0, 128, 128, 0.75);
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}