.posts-container {
    display: flex;
    flex-direction: column;
}

.posts {
    margin: 40px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.posts-title {
    width: 100%;
    text-align: center;
    color: #2A3346;
    opacity: 0.6;
    font-style: italic;
    margin: 40px 0;
}

.posts-title::before, .posts-title::after {
    content: '';
    left: 0;
    display: inline-block;
    height: 1em;
    width: 30%;
    margin: 5px 24px;
    color: #003434;
    border-bottom: 3px solid;
    border-radius: 5px;
    opacity: 0.6;
}