.top-right {
    flex: 3;
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
    align-items: center;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 8px;
}

.icons {
    display: flex;
    align-items: center;
}

.search-button {
    margin: 0 4px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.sign-link {
    color: #2A3346;
}