.header {
    height: 150px;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8rem;
    padding: 10px 0;
    background-color: white;
    z-index: 1;
}