.banner-img {
    width: 100%;
    height: 530px;
    object-fit: cover;
    -webkit-box-shadow: -2px -4px 15px #2A3346;
    -moz-box-shadow: 2px -4px 15px #2A3346;
    box-shadow: -20px 15px 10px -15px #2A3346;
}